rtl/*~
rtl/*.v
rtl/*.vh
rtl/log.txt
*.log
rtl/*[^(dep)]*.in
rtl/*.com
rtl/*.vstf
rtl/Makefile.dep
rtl/work/
rtl/transcript
.Xil/
saif_rtl/saif*/
doc/*.aux
doc/*.dvi
doc/*.fdb_latexmk
doc/*.fls
doc/*.pdf
data/
dist/
scripts/
syn/alib-52/
log
*.jou
