["{\"addr_next\":\"random,4KB\",\"addr_start\":\"ocm\",\"atg_id\":\"atg_acp\",\"beats_per_tranx\":\"16\",\"operation\":\"RD\",\"template_id\":\"<Custom>\",\"tranx_intvl\":\"17\"}","{\"addr_next\":\"random,4KB\",\"addr_start\":\"ocm\",\"atg_id\":\"atg_acp\",\"beats_per_tranx\":\"16\",\"operation\":\"WR\",\"template_id\":\"<Custom>\",\"tranx_intvl\":\"17\"}","{\"atg_id\":\"atg_hp0\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp0\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp1\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp1\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp2\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp2\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp3\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_hp3\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_gp0\",\"template_id\":\"<None>\"}","{\"atg_id\":\"atg_gp0\",\"template_id\":\"<None>\"}"]